.btn{
    color:#5cb85c;
    background-color: #282c34;
}

.btn:hover{
    background-color: transparent;
    color: #282c34;
}

.zoom:hover{
    transform: scale(1.1);
}

img {
    -webkit-filter: drop-shadow(2px 2px 0 white)
                    drop-shadow(2px 2px 0 white);
    filter: drop-shadow(2px 2px 0 white) 
            drop-shadow(2px 2px 0 white);
}
