div.random {
  position: fixed;
}

.a {
  color: #DFCFBE;
}

.b {
  color: 	#FFA07A;
}

.c {
  color: #B565A7;
}

.d {
  color: #45B8AC;
}

.e {
  color:  #98B4D4;
}

.f {
  color: #3D9970;
}

.g {
  color: #FF851B;
}

.h {
  color: #85144b;
}

.i{
  color: #B10DC9;
}

.j {
  color: #AAAAAA;
}

.k {
  color: #DEB887	;
}

.l {
  color: #88B04B;
}